# *.sol linguist-language=Solidity
# Encrypt the repository
# Remove/modify this line if the repository is meant to be open-source
*.* filter=git-crypt diff=git-crypt
.gitattributes !filter !diff

# These files are text and should be normalized (Convert crlf => lf)
*.php text
*.css text
*.js text
*.htm text
*.html text
*.xml text
*.txt text
*.ini text
*.inc text
.htaccess text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.psd filter=lfs diff=lfs merge=lfs -binary
*.png filter=lfs diff=lfs merge=lfs -binary
*.jpg filter=lfs diff=lfs merge=lfs -binary
*.jpeg filter=lfs diff=lfs merge=lfs -binary
*.gif filter=lfs diff=lfs merge=lfs -binary
*.ico filter=lfs diff=lfs merge=lfs -binary
*.mov filter=lfs diff=lfs merge=lfs -binary
*.mp4 filter=lfs diff=lfs merge=lfs -binary
*.mp3 filter=lfs diff=lfs merge=lfs -binary
*.flv filter=lfs diff=lfs merge=lfs -binary
*.fla filter=lfs diff=lfs merge=lfs -binary
*.swf filter=lfs diff=lfs merge=lfs -binary
*.gz filter=lfs diff=lfs merge=lfs -binary
*.zip filter=lfs diff=lfs merge=lfs -binary
*.rar filter=lfs diff=lfs merge=lfs -binary
*.7z filter=lfs diff=lfs merge=lfs -binary
*.ttf filter=lfs diff=lfs merge=lfs -binary

# Auto detect text files and perform LF normalization
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
* text=auto

# Documents
*.doc  filter=lfs diff=lfs merge=lfs -text
*.DOC  filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.DOCX filter=lfs diff=lfs merge=lfs -text
*.dot  filter=lfs diff=lfs merge=lfs -text
*.DOT  filter=lfs diff=lfs merge=lfs -text
*.pdf  filter=lfs diff=lfs merge=lfs -text
*.PDF  filter=lfs diff=lfs merge=lfs -text
*.rtf  filter=lfs diff=lfs merge=lfs -text
*.RTF  filter=lfs diff=lfs merge=lfs -text
